name: CI
run-name: CI
on:
  push:
  workflow_dispatch:
    inputs:
      run_all_platforms:
        description: 'Run tests on all platforms'
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      run_all_platforms:
        description: 'Run tests on all platforms'
        required: false
        type: boolean
        default: false
jobs:
  checkVersion:
    name: Check version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      os_matrix: ${{ steps.get-matrix.outputs.os_matrix }}
      jvm_only: ${{ steps.get-matrix.outputs.jvm_only }}
    steps:
      - uses: actions/checkout@v6
      - name: Get version
        id: get-version
        run: echo "version=$(cat version.txt)" >> "$GITHUB_OUTPUT"
      - name: Get OS matrix
        id: get-matrix
        shell: bash
        run: |
          if [[ "${{ inputs.run_all_platforms }}" == "true" ]]; then
            echo 'os_matrix=["ubuntu-latest", "macos-latest", "windows-latest"]' >> "$GITHUB_OUTPUT"
            echo "jvm_only=false" >> "$GITHUB_OUTPUT"
          else
            echo 'os_matrix=["ubuntu-latest"]' >> "$GITHUB_OUTPUT"
            echo "jvm_only=true" >> "$GITHUB_OUTPUT"
          fi

  buildAndTest:
    name: Build and test
    strategy:
      matrix:
        os: ${{ fromJson(needs.checkVersion.outputs.os_matrix) }}
    runs-on: ${{ matrix.os }}
    env:
      GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -XX:MaxMetaspaceSize=512m -Dsymbol-export.onlyJvm=${{ needs.checkVersion.outputs.jvm_only }}"
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java 17 and 24
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: |
            17
            24

      - name: Cache .konan
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Build library
        run: |
          ./gradlew assemble

      - name: Build tests
        working-directory: ./test
        run: |
          ./gradlew assemble

      - name: Test library
        run: ./gradlew check

      - name: Run integration tests
        working-directory: ./test
        run: ./gradlew check

      - name: Get version
        id: get-version
        run: echo "version=$(cat version.txt)" >> "$GITHUB_OUTPUT"

  publishSnapshot:
    name: Publish snapshot
    needs: [ buildAndTest, checkVersion ]
    runs-on: macos-latest
    if: ${{ github.event_name != 'workflow_call' && github.ref == 'refs/heads/main' && endsWith(needs.checkVersion.outputs.version, '-SNAPSHOT') }}
    env:
      GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -XX:MaxMetaspaceSize=512m"
    steps:
      - uses: actions/checkout@v6
      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Java 24
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 24

      - name: Cache .konan
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Generate dokka docs
        run: |
          ./gradlew dokkaGenerate

      - name: Publish to staging
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALPASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYPASSWORD }}
        run: ./gradlew publishAllPublicationsToMavenCentralRepository --no-configuration-cache